//Navigation bar
.example-spacer {
    flex: 1 1 auto;
  }

.company-name{
   color:#ED9BA5;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
   font-size: 25px;
   font-weight: 900;
} 
.logo{
    
    width:5%;
}

.example-icon{
    color: #492E26;
    mat-icon{
        font-size: 26px;
    }
}
//login area
.main-outer{
    display: flex;
    align-content: center;
    justify-content: center; 
}

mat-card-header{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
mat-card{
    max-width:350px;
    margin-top: 100px; 
  
}

mat-form-field{
    width: 100%;
    margin-top: 10px;
}
    
h2{
    font-size: 30px;
    font-weight:500;
    color: #492E26
}
.button-area{
   
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-button{
    background-color:#ED9BA5;
    width: 45%;
    color: white;
    font-size: 17px;
    
    
  }