
<mat-toolbar>
    <div class="salon-name">
        <img src="assets/logo.png" alt="logo" class="logo1">
        <span
          style="color:#F0699F; font-weight:600; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
          Rinosha's Bridal
        </span>
      </div>
    <span class="example-spacer"></span>
    <button  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
    </button>
    &nbsp;
    <img class="user-icon" mat-elevation-z8 src="assets/profile.png">&nbsp;
    <p class="user-role">Admin</p>
  
  </mat-toolbar>

