<div class="container">
<mat-toolbar>
  <mat-icon routerLink="/staff-profile">arrow_back</mat-icon>&nbsp;
  <img src="assets/logo.png" alt="logo" class="logo">
  <span class="title">Staff Dashboard</span>
 
    <span class="example-spacer"></span>

   <div class="date">
   <span class="dateTime" ><mat-icon>event</mat-icon>&nbsp; {{today}}</span> &nbsp;&nbsp;
   <span class="dateTime"><mat-icon>access_time</mat-icon>&nbsp;{{currentTime}}</span> &nbsp;&nbsp;
  </div> 

   <img class="user-icon" mat-elevation-z8 src="assets/profile.png">&nbsp;
   <p class="user-role">{{username}}</p>&nbsp;
   <mat-icon routerLink="/">logout</mat-icon>
</mat-toolbar>

<div class="content" style="display: flex;">

<div class="calendar" *ngIf="appointmentsLoaded">

<mat-card class="demo-inline-calendar-card">
    <mat-calendar class="highlight-date" [startAt]="startDate1" [dateClass]="dateClass" (selectedChange)="onSelectDate($event)" >
    </mat-calendar>
  </mat-card> 
  <!-- <p>Selected date: {{selected}}</p> -->
  <mat-card class="demo-inline-calendar-card">
    <mat-calendar class="highlight-date"  [startAt]="startDate2" [dateClass]="dateClass" (selectedChange)="onSelectDate($event)">

    </mat-calendar>
  </mat-card> 
  
</div>
 <mat-card class="container2">
   
  
<div class="staff-view"  *ngIf="selectedAppointments.length > 0 && !selectedAppointments[0].noAppointments">

  <mat-card *ngFor="let appointment of selectedAppointments" class="staff-grid" >
      
        <img mat-card-avatar src="assets/profile.png" alt='pic' style="
       margin-left:20px; margin-top: 10px;">
        <span>{{appointment.staff}} </span><br>
        <span> {{appointment.service}}</span><br>
        <!-- <span style="display: flex;justify-content: space-between; margin-top: -7px; color: rgb(194, 194, 194);">
          Contact<mat-icon class="sms-icon"> 
            message</mat-icon><br></span> -->

        <mat-divider style="margin-bottom: 10px;"></mat-divider>
          <span style="font-size: 10px;">Customer</span>
        <span style="line-height:32px; margin-top: -5px;">{{appointment.customer}}</span>
        <span>{{appointment.time}}</span>
  </mat-card>
 
</div>

<mat-card  class="no-appointments" 
*ngIf="selectedAppointments.length === 1 && selectedAppointments[0].noAppointments">
  <mat-icon style="font-size: 30px; color: red;  padding: 30px;"
  >event_busy</mat-icon>
  No Appointments!!!!</mat-card>
</mat-card> 


</div>
</div>