.example-spacer {
    flex: 1 1 auto;
  }
  mat-toolbar{
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .user-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.user-role{
  font-size: 0.7rem;
  color: black;
  margin-top: 10px;
}

// ==logo==
.salon-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .logo1 {
    width: 50px;
  }
