.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
mat-card{
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    text-align: center;
}
mat-form-field{
    width: 100%;
}
.error-outline{
    font-size: 60px;
    width: 60px;
    height: 60px;
    color: #ED9BA5;
}
mat-card-title{
    font-size: 23px;
    font-family:inherit;
}
button{
    width: 100%;
    border-radius: 20px;
    
}
a{
    text-align: center;
    
}