.title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-mdc-form-field {
    margin-top: 10px;
    margin-left: 15px;
  }

  table {
    width: 80%;
  
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  }
  .serviceCount{
    border: 1px solid red;
  }
  .search{
    
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 25px;
    height: 20px;
    padding: 10px;
    width: 30%;
    border: 2px solid #ED9BA5;
    right: 0;
  }