.content{
    // background-image:url('../assets/8595104.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    // background-color: #DDBABB;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}






