<div class="container">
<mat-card>
    <mat-card-title>Update Appointment</mat-card-title>
    <mat-card-content>
        <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Customer Name</mat-label>
              <input matInput formControlName="fullname">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Staff Name</mat-label>
                <input matInput formControlName="email">
              </mat-form-field>
        </div>
    </mat-card-content>

</mat-card>
</div>
