<div class="dashboard-card">
    <!-- appointment -->
    <mat-card class="card" *ngIf="totalAppointment !== null" style=" background: #e8babf;">
        <mat-card-header>
            <mat-card-title>
                Total Appointment
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-icon class="icon">event</mat-icon>

            <div class="value">
                {{totalAppointment}}
            </div>
        </mat-card-content>
    </mat-card>

    <!-- customer -->
    <mat-card class="card" *ngIf="totalCustomer !== null" style=" background: #e8babf;">
        <mat-card-header>
            <mat-card-title>
                Total Customer
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-icon class="icon">people</mat-icon>
            <div class="value">
                {{totalCustomer}}
            </div>
        </mat-card-content>
    </mat-card>

    <!-- staff -->
    <mat-card class="card" *ngIf="totalStaff !== null" style=" background: #e8babf;">
        <mat-card-header>
            <mat-card-title>
                Total Staff
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-icon class="icon">person</mat-icon>
            <div class="value">
                {{totalStaff}}
            </div>
        </mat-card-content>
    </mat-card>

    <!-- service -->
    <mat-card class="card" *ngIf="totalService !== null" style=" background: #e8babf;">
        <mat-card-header>
            <mat-card-title>
                Total Service
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-icon class="icon">handshake</mat-icon>
            <div class="value">
                {{totalService}}
            </div>
        </mat-card-content>
    </mat-card>
</div>

<!-- appointment -->

<div class="appointment-section">
    <h2 >Upcoming Appointment</h2>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
       
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.id}} </td>
          </ng-container>
      
          
          <ng-container matColumnDef="cusName">
            <th mat-header-cell *matHeaderCellDef> Cus_name </th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.cusName}} </td>
          </ng-container>
      
          
          <ng-container matColumnDef="empName">
            <th mat-header-cell *matHeaderCellDef> Emp_Name </th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.empName}} </td>
          </ng-container>
      
          
          <ng-container matColumnDef="service">
            <th mat-header-cell *matHeaderCellDef> Service </th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.service}} </td>
          </ng-container>


          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date </th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.date}} </td>
          </ng-container>


          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Time </th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.time}} </td>
          </ng-container>

      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[3, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
</div>

<div class="below-section">



 <!-- staff availability -->
 <div class="staff-availability">
      <p style="font-size: 20px;"><b>Staff Availability</b><p>
      <div id="staff-availability" *ngIf="staffAvailability">
        <div class="staff-list">
          <div class="staff-item" *ngFor="let staff of staffAvailability">
            {{staff.fullname}} --
            <span [ngClass]="{'active-status': staff.status, 'inactive-status': !staff.status}">
              {{ staff.status ? 'Have Appointments': 'No Appointments' }}
            </span>
          </div>
        </div>
      </div>
  </div>

 <!-- calendar -->
 <div class="calendar-section" *ngIf="appointmentsLoaded">
    <mat-card class="demo-inline-calendar-card">
        <mat-calendar class="highlight-date" [startAt]="startDate1"  (selectedChange)="onSelectDate($event)" [dateClass]="dateClass">
        </mat-calendar>
      </mat-card> 
 </div>

 </div>
