.booked {
    background-color: red;
    color: white;
    padding: 10px;
    margin: 5px 0;
  }
  
  .available {
    background-color: green;
    color: white;
    padding: 10px;
    margin: 5px 0;
  }