
<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sidenavwidth()">
    <app-sidenav-left ></app-sidenav-left>
  </mat-sidenav>

  <mat-sidenav-content class="content"[style.margin-left]="sidenavwidth()">
    <!-- toolbar -->
    <mat-toolbar class='mat-elevation-z3'>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="collapsed.set(!collapsed())">
      <mat-icon>menu</mat-icon>
      </button>
      <span class="example-spacer"></span>

      <button  mat-icon-button class="example-icon favorite-icon" [matBadge]="unreadCount" matBadgeColor="warn" aria-label="Example icon-button with heart icon">
        <mat-icon>notifications</mat-icon>
      </button>
       
      <mat-menu #notificationMenu="matMenu">
        <ng-container *ngIf="notifications.length > 0; else noNotifications">
          <button mat-menu-item *ngFor="let notification of notifications">
            <mat-icon>mail</mat-icon>
            <span>{{ notification.data.message }}</span>
          </button>
        </ng-container>
        <ng-template #noNotifications>
          <button mat-menu-item disabled>No new notifications</button>
        </ng-template>
      </mat-menu>

      &nbsp;
      <img class="user-icon" mat-elevation-z8 src="assets/profile.png">&nbsp;
      <p class="user-role">Admin</p>
    
    </mat-toolbar>

    <app-main-content> 
    </app-main-content>
  </mat-sidenav-content>
</mat-sidenav-container>