:host *{
  transition: all 500ms ease-in-out;
}

.sidenav-header{
    padding-top: 8px;
    text-align: center;
     img{
      object-fit: cover;
    }
    .logo-text{
      height: 3rem;
      h2{
        margin: 0;
        font-size:1rem;
        margin-top:-1rem;
        color: #ED9BA5;
      }
    }
  }
  .hide-header-text{
    opacity: 0;
    height: 0;
  }
  mat-list-item:hover{
     border-left: 7px solid;
     border-left-color: #ED9BA5;
      span,mat-icon{
        color: #ED9BA5;
      }
        
  }
.icon{
  color: #492E26;
}
.active-link {
  background-color:#ED9BA5 ; /* Change this to your desired active color */
  span,mat-icon{
    color:white;

  }
  
}
.active-link:hover{
  mat-icon{
    color: white;
  }
}
mat-divider{
  margin-top: 30px;
}  

  
  
  