button{
    width: 100%;
    border-radius: 20px;
}
mat-card-title{
    justify-content: center;
    align-items: center;
    display: flex;
}
mat-card{
    padding: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.check_circle_outline{
    font-size: 60px;
    width: 60px;
    height: 60px;
    color: #ED9BA5;
}