<div class="container">
    <mat-card>
        <mat-icon class="error-outline">error_outline</mat-icon>
        <mat-card-title>
            Forgot Password
        </mat-card-title>

        <mat-card-content>
            <p>Enter your email and we'll send you a link to  reset your <br> password</p>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Email" name="username" [(ngModel)]="email" required>
                <mat-error *ngIf="!email">
                  Email is required
                </mat-error>
                <mat-icon matSuffix class="email">email</mat-icon>
              </mat-form-field><br>
              <button mat-raised-button style="background-color:#ED9BA5 ; ">Submit</button><br><br>
              <button mat-raised-button routerLink="/"><mat-icon>arrow_back</mat-icon>Back to Login</button>

        </mat-card-content>
    </mat-card>
</div>
